<footer class="footer"> 

<div id="mat-head">  
<mat-card>
    <div id="logo-master">
        <div class="logo-main">
            <img mat-card-image src="../../assets/JIT 300x300.png">
        </div>
    <div class="copyright">
        <h2>Copyright JIT Poly Extrusion Pvt. Ltd</h2>
    </div>   
    <h4> | Save Trees - Lets Make Our Planet Greener.</h4>
    <div class="env">
        <img src="../../assets/Env-Friendly-png.png" alt="environment friendly" class="logo-box-1">
    </div>

    </div>
</mat-card>
</div>  

</footer>



