<header>

<div class="about-us">
    <mat-card>
        <h1 class="about-us-sub">ABOUT US</h1>
        <h2>DELIVERING TIMBER ALTERNATIVE SOLUTIONS FOR ECOLOGOCAL BALANCE</h2>
        <p>
        27 years ago, we started our journey for the unknown which made us what we are today. We are now a 3000 Million INR Company and we still have a long way to go ! We started off as manufacturers of PVC Profiles & Extrusion and now we are one of the top players of Industrial and Consumer Products which have cemented our name amongst the Primes. We are serving and have served The Indian Railways, Swaach Bharat Abhiyaan and International Clients in Asia and many more.
        
        With our presence felt all over India, we are amongst the prime players currently available at the top of the table. We provide wide range of services right from the Concept Inception, Process Strategy, Product Development &Manufacturing, Consulting and Project Execution & Delivery. With us, You are Sure !
        
        Our mission is to deliver the best solution that helps everyone to grow. Our client's happiness is what we want to achieve. We are constantly evolving & growing and so is our Mother Nature. It's our constant endeavour to reduce the use the natural resources like Wood & Timber based Products. We have designed and developed environment friendly products to replace timber based products and keep our surroundings sustainable.
    </p>
    </mat-card>

<div class="header-sub">
    <mat-card>
        <h1 class="about-us-sub">WE KNOW THE WAY</h1>
        <p>
        We have the ability to deliver what you desire. We are one of the prime players in the Extrusion Business, our experts are well trained and reliable with world class standards to provide you support at each and every level of Industrial and Business Needs. We provide a wide range of services right from the Concept Development to Delivery.
        </p>

        <h5>
        Areas we expertise on:-
        </h5>
        <div class="bullets">
        <li>Manufacturing & Fabrication.</li>
        <li>Consulting Business Services.</li>
        <li>Project Mangement.</li>
        <li>Process Improvement. </li>
        <li>Logistics.</li>
        </div>
    </mat-card>

<div class="header-sub">
    <mat-card>
        <h1 class="about-us-sub">PRECISION IS IN OUR DNA</h1>
        <p>
        Our factility is designed to build products & deliver services with precision.
        We believe, The main thing is to keep the main thing " the main thing ".
        Precision & Accuracy is not our Habit but it's in our DNA and to provide the best Solution & Consultation to our Clients.
        </p> 
        <p class="dna">
        We Strive to Build the Perfect Structure which follows Strategy !
        </p>
    </mat-card>
</div>  
</div>
</div>

</header>  
