<header>
    <div class="image-head">
       <img src="../../assets/Manufacturing-Image-Background-3.jpg" 
       style="width: 100%; height:250px;">
    </div>
 
 <div class="mat-top">  
    <mat-card class="mat-head">
       <h1>
          Manufacturing Process & Technology
       </h1>
       <h5>
          When finished, products made from plastic take many different forms, but they all start in the same place and of the same raw material – resin. In plastic extrusion, resin beads are melted down, filtered for uniform consistency, pushed through a die cut for the final product shape, and then cooled. The extrusion process comprise of Six Stages. 
       </h5>
    </mat-card>
 </div>    
     
 <br><br>
 
 <div class="row-one">  
    <mat-card class="header-main-sub">
       <h2 >Stage 1:</h2>
       <p>
          Raw plastic materials like granules, pellets, or powder are loaded into a hopper and then fed into a long heated cylindrical chamber called an extruder. It is moved through this chamber by a revolving screw. Some extruders can have either one or two revolving screws. 
       </p>
    </mat-card>
 
    <mat-card class="header-main-sub-right">
       <h2>Stage 2:</h2>
       <p>
          The raw materials flow from the hopper down through the feed throat and onto a large spinning screw operating within a horizontal barrel.
       </p>
    </mat-card>
 
    <mat-card class="header-main-sub">
       <h2>Stage 3:</h2>
       <p>
          Not all materials have the same properties, so the raw material is processed by a heating temperature specific to the type of raw material being passed through. At the end of the heated chamber, the molten plastic is forced through a small opening called a die to form the shape of the finished product.
       </p>
    </mat-card>
 </div> 
       
 <div class="row-two">  
    <mat-card class="header-main-sub-right">
       <h2>Stage 4:</h2>
       <p>
          As the plastic is extruded from the die, it is fed onto a conveyor belt for cooling. Cooling can happen by air or water. The process is similar to the injection moulding process except that the melted plastic is forced through a die instead of into a mould. 
       </p>
    </mat-card>
 
    <mat-card class="header-main-sub">
       <h2>Stage 5:</h2>
       <p>
          The die for an individual plastic profile is designed so that the plastic flows smoothly and evenly from the cylindrical profile of the extruder into the final profile shape. Consistency in this flow is critical to achieving an end product with integrity.
       </p>
    </mat-card>
 
    <mat-card class="header-main-sub-right">
       <h2>Stage 6:</h2>
       <p>
          After the final shaping is done and the cooling process is completed, the product is passed through quality checking and flaw testing prcedure before the final delivery is done.
       </p>
    </mat-card>
 
 </div> 
       
    <br/><br/>  
</header>