<header>

<div class="mat-product"> 
<mat-card class="product-words">
        <h1 style="text-align:center; color:crimson;">
            OUR PRODUCTS
        </h1>
    <h4>
        Our factility is designed to build products & deliver services with precision. Our products are free from all kinds of Manufacturing Defects and Strict Qualty Checkings are performed before the final products are dispatched for end user shipment.    
    </h4>
</mat-card>
</div>   

<div class="container">
    <div class="products-one">
        <div class="image">
            <img src="../../assets/door-1.png" style="width:180px;height:370px;">
            <span>PVC Door</span>
        </div>

    </div>

    <div class="products-one">
        <div class="image">
            <img src="../../assets/door-2.png" style="width:180px;height:370px;">
            <span>Digital Print</span>
        </div>
    </div>

    <div class="products-one">
        <div class="image">
            <img src="../../assets/frame-door-1.png"  style="width:180px;height:370px;">
            <span>PVC Door Frame</span>
        </div>
    </div>  
    
    <div class="products-one">
        <div class="image">
            <img src="../../assets/door-digital-4.png" style="width:180px;height:370px;">
            <span>3D Printed Door</span>
        </div>
    </div>

    <div class="products-two">
        <div class="image">
            <img src="../../assets/door-digital-1.png" style="width:180px;height:370px;">
            <span>3D Flower</span>
        </div>
    </div>

    <div class="products-two">
        <div class="image">
            <img src="../../assets/door-digital-2.png" style="width:180px;height:370px;">
            <span>Green Abstract</span>
        </div>
    </div>

    <div class="products-two">
        <div class="image">
            <img src="../../assets/door-digital-3.png" style="width:180px;height:370px;">
            <span>3D Flower</span>
        </div>
    </div>

    <div class="products-two">
        <div class="image">
            <img src="../../assets/door-digital-5.png" style="width:180px;height:370px;">
            <span>3D Abstract</span>
        </div>
    </div>

</div>

</header>
