<header>

<div id="logo-master">
    <div class="logo-main">
    <img mat-card-image src="../../assets/JIT 300x300.png">
    </div>
    <div class="jit-master">
        <mat-card-title class="jitpoly">JIT Poly Extrusion Pvt. Ltd</mat-card-title>
    </div>
</div>

<h1 class="timber">
    TIMBER ALTERNATIVE FOR ECOLOGOCAL BALANCE
</h1>

<div class="container">

<div class="products-one">
    <div class="image">
        <img src="../../assets/Manufacturing-Tools.png" style="width:350px;height:350px;">
        <p>Manufacturing</p>
    </div>
</div>

<div class="products-one">
    <div class="image">
        <img src="../../assets/Manufacturing Image Background 4.jpg" style="width:350px;height:350px;">
        <p>Research & Developement</p>
    </div>
</div>

<div class="products-one">
    <div class="image">
        <img src="../../assets/Consulting HD.jpg" style="width:350px;height:350px;">
        <p>Consulting</p>
    </div>
</div>  
</div>

<div class="explore">
    <h2>What We Do</h2>
</div>

<div class="container-main">

<div class="containerone">
    <img src="../../assets/pannels.jpeg" style="width:360px;height:250px;" alt="PVC Panels" class="imageone">
    <div class="overlayone">
        <div class="textone">PVC Door Panels</div>
    </div>
</div>

<div class="containerone">
    <img src="../../assets/Digital-Pring-Cover-1.png" style="width:360px;height:250px;" alt="Digital" class="imageone">
    <div class="overlayone">
        <div class="textone">Digital & 3D Printing</div>
    </div>
</div>

<div class="containerone">
    <img src="../../assets/plastic-profiles---1.png" style="width:360px;height:250px;" alt="Profiles" class="imageone">
    <div class="overlayone">
        <div class="textone">PVC Profiles</div>
    </div>
</div>

</div>
    
<div class="container-main-long">

<div class="containertwo">
    <img src="../../assets/Manufacturing-Process-Cover-1.png" style="width:1120px;height:250px;" alt="Manufacturing" class="imagetwo">
    <div class="overlaytwo">
        <div class="texttwo">Door & Window Profile Manufacturing</div>
    </div>
</div>
</div>


<div class="container-main-big">

<div class="containerbig">
    <img src="../../assets/wall pannel.jpg" style="width:545px;height:450px;" alt="Wall-Panel" class="imagebig">
    <div class="overlaybig">
        <div class="textbig">Wall Paneling</div>
    </div>
</div>

<div class="containerbig">
    <img src="../../assets/false ceiling.jpg" style="width:545px;height:450px;" alt="Wall-Panel" class="imagebig">
    <div class="overlaybig">
        <div class="textbig">PVC Dummy Roofing</div>
    </div>
</div>
</div>

</header>
